/* || General Styles */

body { 
  background-color: black;
}

main {
 display: grid;
 grid-template-rows: auto auto auto auto auto;
 grid-template-columns: 1fr 3fr 2fr;
 grid-template-areas:
  "nav nav nav"
  "blank hero hero"
  "blank content blob"
  "footer1 footer1 footer1"
  "footer2 footer2 footer2";
}

#homeMain {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-areas:
   "nav nav nav nav"
   "blank hero hero blank"
   "blank nav2 nav2 blank"
   "blank circusPic circusText blank"
   "blank clarifyPic clarifyText blank"
   "blank ohPic ohText blank"
   "footer footer footer footer"
   "footer2 footer2 footer2 footer 2";
 }

#hero {
grid-area: hero;
}

/* || Typography */

body {
   font-family: 'Montserrat', sans-serif;
}
h1 { 
  font-weight: bold;
}
h2 { 
  font-weight: bold;
  color: #f1993e;
  font-size: 55pt;
}
h3 { 
  font-weight: 600;
  color: #adbfe3;
  font-size: 40px;
}

h4 { 
  font-weight: 600;
  color: black;
}

h5 { 
  font-weight: 700;
  color: white;
  font-size: 30pt;
}

h6 { 
font-weight: 600;
color: black;
font-size: 40px;
}

p { 
  font-weight: lighter;
  color: white;
  font-size: 12pt;
  line-height: 150%;
}
nav {
grid-area: nav;
}
/* || Header and Main Navigation */
.navbar {
  background-color: #ef6322;
  overflow: hidden;
  height: 70px;
  padding-right: 10px;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}
/* Style the links inside the navigation bar */
.navbar a {
  color: white;
  text-align: center;
  padding: 25px 25px 25px 0px;
  margin: 0px 0px;
  text-decoration: none;
  font-size: 17px;
  float: right
}

.navbar a:current {
  color: white;
  border-bottom: #f1993e solid 3px;
  text-align: center;
  padding: 25px 25px 25px 0px;
  margin: 0px 0px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  float: right
}

.fa {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  justify-content: center;
}

/* Change the color of links on hover */
.navbar a:hover {
  color: white;
  font-weight: bold;
}

/* Add a color to the active/current link */
.navbar a.active {
  color: white;
  font-weight: 800;
  border-bottom: #f1993e 2px;
}
.LW-logo {
  transform: translate(20px, -70px)
}

/* Home styling */
#homeHero {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
}



/* Second Nav - Home */



#hero {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
}
.headerPic {
  grid-area: headerPic;
  align-items: flex-end;
  padding-right: 5%;
}

.headerText {
  grid-area: headerText;
  display: flex;
  align-items: center;
  transform: translateX(-25%)
}

.info {
  grid-area: content;
  margin: 200px 100px 0px 0px;
  padding-right: 10%;
  line-height: 30px;
}

.item-skills {
  grid-area: blob;
  display: flex;
  flex-direction: column;
  background-image: url("../images/blob.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: black;

}

.footer {
  display: flex;
  grid-area: footer1;
  background: url(../images/footer-blob.png) no-repeat; 
  background-size: 60%;
  background-position-y: 60%;
  background-position-x: 160%;
  background-color: #7061ff;
  margin-top: 200px;
  padding: 50px;
  justify-content: space-around;
  align-content: center;
  height: 100px;
  color: black;
}



.footer {
display: grid;
grid-template-rows: 100%;
grid-template-columns: 3fr 1fr 1fr 1fr;
grid-template-areas:
 "foottext docx styled blank blank"
}

#foot-text {
grid-area: foottext;
}

#buttons1, #buttons2 {
display: flex;
align-items: center;
justify-content: center;
width: auto;
}

#buttons1 {
grid-area: docx;
transform: translateX(25%)
}

#buttons2 {
grid-area: styled;
}

.resume1button, .resume2button {
color: white;
border-radius: 25px;
border: none;
width: 50%;
height: 50px;
background-color: #5c4bf1;
text-align: center;
font-size: 16px;
margin: 5%;
transition-duration: 0.4s;
}

.resume1button:hover {
border-radius: 25px;
color: #7061ff;
font-weight: bold;
background-color: white;
justify-content: center;
font-size: 16px;
margin: 5%;
transition-duration: 0.4s;
}

.resume2button:hover {
  border-radius: 25px;
  color: #7061ff;
  font-weight: bold;
  background-color: white;
  justify-content: center;
  font-size: 16px;
  margin: 5%;
  transition-duration: 0.4s;
}

.footer2 {
  grid-area: footer2;
  color: #7061ff;
  padding: 20px;
}


/* For screens that are 992px or less */
@media screen and (max-width: 992px) {
  .navbar {
    height: 50%;
  }

  .LW-logo {
    transform: translate(20px, -180px);
    width: 40%;
  }

  .navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    float: center;
    align-items: center;
  }
  
  main {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 10% 90%;
    grid-template-areas:
     "nav nav nav"
     "blank hero"
     "blank content"
     "footer1 footer1"
     "footer2 footer2";}

  .item-skills {
    display:none;
    }


  .hero {
    align-items: center;
    padding-left: 50%;
  }
  
  .info {
      grid-area: content;
      margin: 50px 50px 0px 0px;
      padding: 10%;
      line-height: 20px;
      font-size: 10pt;
    }
    
    
}