/* || General Styles */

body { 
    background-color: black;
    margin: 0px;
 }


 /* || Typography */

 body {
     font-family: 'Montserrat', sans-serif;
 }
 h1 { 
    font-weight: bold;
}
h2 { 
    font-weight: bold;
    color: #f1993e;
    font-size: 45pt;
}
h3 { 
    font-weight: 600;
    color: #adbfe3;
    font-size: 40px;
}

h4 { 
    font-weight: 600;
    color: black;
}

h5 { 
    font-weight: 700;
    color: white;
    font-size: 30pt;
}

p { 
    font-weight: lighter;
    color: white;
    font-size: 12pt;
    line-height: 150%;
}

/* || Header and Main Navigation */
.navbar {
    background-color: #ef6322;
    overflow: hidden;
    height: 70px;
    padding-right: 10px;
}
/* Style the links inside the navigation bar */
.navbar a {
    color: white;
    text-align: center;
    padding: 25px 25px 25px 0px;
    margin: 0px 0px;
    text-decoration: none;
    font-size: 17px;
    float: right
  }

  .fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    justify-content: center;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    color: white;
    font-weight: bold;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    color: white;
    font-weight: 800;
    border-bottom: #f1993e 2px;
  }

  .LW-logo {
    transform: translate(0px, -70px)
  }

  #hero {
    width: 100%;
  }

  #hero-image {
    padding-left: 15%;
    float: left;
    width: 33.33%;
  }

  #hero-text {
    text-align: left;
    float: right;
  }

  /* about info on left */
  #about-left {
      max-width: 600px;
      padding: 0px 200px 200px 200px;
      float: left;
  }

  /* skills on the right */
  #blue-blob {
      float: right;
  }
  
  .skills {
      width: 30%;
      float: right;
  }

  /* old footer */

.footer {
  }

  .footer img {
      width: 100%;
      height: auto;
  }

.footer-text {
    position: absolute;
    padding: 20px;
    text-align: left;
    color: white;
    line-height: 5%;
    z-index: 60;
    transform: translate (0px, -70px);
  }

  /* new footer
   .footer {
      background-color: #7061ff;
      height: 400px;
      width: 100%;
      float: bottom;
      
  }

  .footer:img {
    float: right;
  }
  */